.searchIcon {
  height: 15px;
  width: 15px;
}

.cart-icon {
  height: 40px;
  width: auto;
}

/* input {
  border-radius: 5px;
  height: 20px;
  text-align: center;
  width: 400px;
} */

.product-list-category {
  display: flex;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}
