.searchIcon {
  height: 15px;
  width:  15px;
}

.cart-icon {
  height: 40px;
  width: auto;
}

input {
  border-radius: 5px; 
  height: 20px;
  text-align: center;
  width: 400px;
}

.productsList{
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
